@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


body{
    font-family: 'Open Sans', sans-serif;
    background-color: #e5e5e5;
}

main {
    max-width: 70%;
    /* background-color: slategray; */
}

h1 {
    font-size: 15px;
}

header {
    background-color: white;
    display: flex;
    height: 80px;
    align-items: center;
    margin-bottom: 40px;
    /* justify-content: space-between; */
}

header > img {
    width: 46px;
    height: 46px;
    margin-left: 17px;
}

header ul{
    display: flex;
    align-items: center;
    
}

header ul li{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;
    
}

header ul li a{
    text-decoration: none;
    color: #181818;
    font-weight: bold;
    margin-top: 12px;
    margin-left: 60px;
}

header ul li i{
    font-size: 18px;
    color: #181818;
    margin-left: 60px;
}

nav{
    display: flex; 
}

form {
    margin-left: 70px;
    margin-top: 10px;
}

form a i{
    position: absolute;
    margin-right: 10px ;
    margin-top: 15px;
    color: #0275B1;
    font-size: 22px;    
}

form input{
    border-style: none;
    margin: 10px;
    padding: 10px 40px;
    outline-style: none;
}

header div img {
    display: flex;
    width: 42px;
    
}

.container {
    margin: 0 auto;
    width: 1200px;
    display: flex;
}

.cabecalho{
    padding: 10px 10px;
    max-width: 20%;

}

.cabecalho> small, i {
    color: #02B033;
}



.imagem-canto{
    display: flex;
    justify-content: flex-end;
    margin-left: 30%;
}

.cabecalho > div{
    display: flex;
    align-items: center;
    
}

.cabecalho div > small{
    margin-left: 10px;
    color: rgba(24, 24, 24, 0.2);
   
}


.other {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    margin-left: 130px;
    align-items: center;
    font-weight: bold;

}

.other > span {
    margin-top: 15px;
}

.other > i{
    color: #181818;
}


/* ----- PROFILE ----- */


 
 .background {
     background-image: url(./Imagens/Background.jpg);
     width: 100%;
     
 }

 .profile-up div{
     display: flex;
 }

 .background .contact {
    background-color: white;
    margin-top: 95px;    
 }

 .background .contact-text {
     margin-left: 200px;
 }

 .img-absolute img {
     margin-top: -25px;
     border-radius: 50%;
     position: absolute;
     
 }

 .edit {
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px 20px;
    margin: 20px 30px;
 }

 .edit > p{
     margin-left: 10px;
 }

 .edit > i{
     color: #181818;
     transform: rotate(90deg);
 }

 .contact-name{
     display: flex;
     padding: 25px 0px 15px 0px;
 }

 .contact-name img {
     margin-left: 8px;
     margin-right: 300px;
 }

 .contact-name i {
     margin-right: 10px;
     color: #0275B1;
 }

 .contact-name h1 {
     font-size: 18px;
     font-weight: bold;
 }

 .contact-text > small {
     font-size: 14px;
 }

 .upload-icon {
    display: flex;
    margin: 20px 30px;
     
 }

 .upload-icon > i{
     display: flex;
     
    color:#181818;
 }

 .file-up{
     display: flex;
     justify-content: space-between;
 }

 .btn-perfil {
     margin: 30px 200px;
     padding-bottom: 30px;
 }

 .btn-perfil button {
     margin-right: 14px;
     padding: 8px 42px;
     border: 1px solid #0275B1;
     border-radius: 4px;
     font-size: 12px;
     font-weight: bold;
 }
 
 .botoes {
     border-radius: 4px; 
 }

 .botoes button {
     margin: 0px  -5px;
     padding: 20px 120px;
     border: 1px solid #e7e7e7;
     background-color: white;
     border-radius: 4px; 
 }

 .botoes .botoes-btn {
     padding: 10px 60px;
     font-size: 12px;
     border-radius: 4px;
     font-weight: bold;
 }

 .botoes .botoes-btn1 {
     padding: 10px 60px;
     background-color: #0275B1;
     color: white;
     border: 1px solid #0275B1;
     border-radius: 4px; 
     font-size: 12px;
     font-weight: bold;
 }


 /* ----- ABOUT ----- */

 .botoes button {
     margin-top: 2%;
     padding: 10px 15px;
     margin-left: 0;
}
 .about {
    background-color: white;
    padding: 10px;    
    border-radius: 4px;
 }

 .about h2 {
     padding: 2%;
     font-size: 18px;
     font-weight: bolder;
 }

 .about p{
     margin-left: 2%;
     font-size: 14px;
     margin-bottom: 3%;
 }

 .about a {
     text-decoration: none;
     color: #0275B1;
     font-weight: bold;
     font-size: small;
     margin-left: 2%;
     margin-bottom: 3%;  
     
 }

 .projects {
     background-color: white;
     margin-top: 2%;
     padding: 20px;
     border-radius: 4px;
 }

 .projects > .projects-topo {
     display: flex;
     align-items: center;
     
 }

 .projects > .projects-topo span {
    color: #E5E5E5;
 }

 .projects h3 {
    padding: 2%;
    font-size: 18px;
    font-weight: bolder;
 }

.projects .projects-img  {
     display: flex;
     justify-content: space-around;
     margin-bottom: 2%;
 }

 .projects .projects-img > div img {
     margin-bottom: 10px;
 }

 .projects .projects-img h2 {
     margin-bottom: 5px;
     font-size: 14px;
     font-weight: bold;
 }

 .projects .projects-img small {
    color: #E5E5E5;
    font-size: 10px;
}

.projects a {
    text-decoration: none;
    color: #0275B1;
    font-weight: bold;
    font-size: small;
    margin-left: 2%;    
}

.skills {
    background-color: white;
    margin-top: 2%;
    border-radius: 4px;
    padding-bottom: 20px;
}

.skills h3 {
    padding: 30px 0px 24px 30px;
    font-size: 18px;
    font-weight: bolder;
 }

 .skills .skill-box {
     display: flex;
     margin: 2%;
     justify-content: space-around;
 }

 .skills .skill-box > div {
    border: 1px solid #E5E5E5;
    border-radius: 6px;
    padding: 14px 20px;
    margin-bottom: 3%;
    width: 25%;
 }

 .skills .skill-box > div span {
     color: #0275B1;
     margin-left: 20px;
     font-weight: bold;
 }

 .skills .skill-box img {
     width: 150px;     
 }

 .skills a  {
    text-decoration: none;
    color: #0275B1;
    font-weight: bold;
    font-size: small;
    margin-left: 3%;
 }  
 
 .experience {
     background-color: white;
     margin-top: 2%;
     padding-bottom: 20px;
     border-radius: 4px;
 }

 .experience h3 {
    padding: 30px 0px 24px 30px;
    font-size: 18px;
    font-weight: bolder;
 }

 .experience .exp-img {
     display: flex;
    
 }

 .experience .exp-img img {
     width: 80px;
     height: 64px;
     margin-left: 30px;
     margin-top: 30px;
 }

 .experience .exp-img small , p {
     margin-left: 27px;
 }

 .education {
     background-color: white;
     margin-top: 2%;
     padding-bottom: 20px;
     border-radius: 4px;
 }

 .education h3 {
    padding: 30px  0px 24px 20px;
    font-size: 18px;
    font-weight: bolder;
 }

 .education .edu {
     display: flex;
    
 }

 .education .edu img {
    width: 70px;
    height: 60px;
    margin-left: 30px;
    margin-top: 30px;
 }

 .education p {
     font-weight: 100 lighter;
    
 }

 .education small {
     margin-left: 25px;
 }

 aside {
     width: 28%;
     margin-left: 2%;
 }

 .dashboard {
     background-color: white;
     border-radius: 4px;
 }

.dashboard .dash {
       display: flex;
    justify-content: space-around;
    padding: 30px;
    font-weight: bold;
    font-size: small;
    margin-left: 2%;
    margin-bottom: 3%;  
}

.dashboard .dash a {
    text-decoration: none;
    color: #0275B1;
}

.dashboard span {
    margin-left: 25px;
    font-size: 52px;
    color:#0275B1;
}

.dashboard p {
    font-size: 14px;
    padding-bottom: 31px;
}

.visitors {
    margin-top: 20px;
    background-color: white;
    padding-bottom: 30px;
    border-radius: 4px;
}

.visitors .visit {
    display: flex;
    justify-content: space-around;
}

.visitors h3 {
    font-weight: bold;
    font-size: small;
    margin-top: 25px;
    margin-left: 2%; 
    padding: 15px 0px 20px 20px;
}

.visitors .visit a {
    margin-top: 25px;
    font-size: 12px;
    font-weight: bolder;
    padding: 15px 0px 20px 20px;
    text-decoration: none;
    color: #0275B1;    
}

.visit-photo {
    display: flex;
    margin-top: 20px;
    margin-left: 30px;
}

.visit-photo img {
    margin-right: 15px;
}

.visit-photo h2 {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bolder;
}

.visit-photo small {
    margin-top: 5px;
    font-size: 10px;
}

.visit-photo h3 {
    font-weight: bold;
    font-size: small;
    margin-left: 2%;
    margin-bottom: 3%; 
}

.courses {
    margin-top: 20px;
    background-color: white;
    padding-bottom: 28px;
    border-radius: 4px;
}

.courses h3 {
    font-weight: bold;
    font-size: small;
    text-align: center;
    padding: 30px 0 20px 20px;
}

.courses .courses-info {
    display: flex;
    align-items: center;
}

.courses .courses-info h4 {
    font-size: 14px;
    font-weight: bolder;
    padding-bottom: 5px;
}

.courses .courses-info small {
    font-size: 10px;
}

.courses .courses-info img {
    margin: 20px 15px 19px 30px;
    border-radius: 3px;
}

.courses a {
    margin-top: 25px;
    font-size: 12px;
    font-weight: bolder;
    padding: 15px 0px 20px 28px;
    text-decoration: none;
    color: #0275B1;   
}


/* Footer */

footer {
    display: flex;
    height: 215px;
    max-width: 100%;
    background-color: white;
    margin-top: 40px;

}

.imagem-linkedin > img{
    margin-top: 15px;
}

.imagem-linkedin{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.container-footer{
    padding: 30px;
    margin: 0 auto;
    width: 1200px;
    display: flex;
} 

.container-footer nav span{
    font-size: 12px;
    margin-left: 10px;
    font-weight: bold;
}


.container-footer ul li{
    padding: 10px;
    font-size: 12px;
    /* background-color: red; */
}

.container-footer ul{
    max-height: 86px;
    width: 200px;
}

.container-footer nav{
    display: flex;
    margin-left: 30px;
    flex-direction: column;
}

.container-footer nav div{
    margin-top: 30px;
    display: flex;
}

.footer-btn{
    display: flex;
}

.footer-btn div{
    display: flex;
    flex-direction: column;
}


.footer-btn div span{
    font-size: 12px;
    margin-left: 10px;
    font-weight: bold;
    margin-bottom: 30px;
}

.footer-btn div i{
    margin-left: 40px;
}

.footer-btn div button{
    padding: 8px 5px 8px 20px;
    border-radius: 4px;
    border: 1px solid #0275B1;
    margin: 10px;
    
}

.footer-btn1{
    background: #0275B1;
    color: white;
}

.footer-btn1  i{
    color: white;
}

.footer-btn2 i{
    color:#0275B1;
}

.footer-btn2{
    color:#0275B1;
}

footer form select{
    padding: 8px 149px 8px 10px;
}

.footer-btn .footer-language span{
    margin-left: 70px;
}