@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    font-style: roboto;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

main {
    max-width: 60%;
    /* background-color: slategray; */
}



header {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
}

header > img {
    width: 46px;
    height: 46px;
    margin: 40px 17px;
}

header ul{
    display: flex;
    margin-left: 10px;
    align-items: center;
}

header ul li{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;
}

nav{
    display: flex;
}

header div img {
    display: flex;
    width: 42px;
}


