@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

main {
    max-width: 60%;
    /* background-color: slategray; */
}



header {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
}

header > img {
    width: 46px;
    height: 46px;
    margin-left: 17px;
}

header ul{
    display: flex;
    align-items: center;
    
}

header ul li{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;
    
}

header ul li a{
    text-decoration: none;
    color: #181818;
    font-weight: bold;
    margin-top: 12px;
    margin-left: 44px;
}

header ul li i{
    font-size: 18px;
    color: #181818;
    margin-left: 44px;
}

nav{
    display: flex;
}

form {
    margin-left: 70px;
    margin-top: 10px;
}

form a i{
    position: absolute;
    margin-right: 10px ;
    margin-top: 15px;
    color: #0275B1;
    font-size: 22px;    
}

form input{
    border-style: none;
    margin: 10px;
    padding: 10px 40px;
    outline-style: none;
}

header div img {
    display: flex;
    width: 42px;
    
}

.cabecalho{
    padding: 10px 10px;
    /* margin-left: ; */
    max-width: 200px;
    
}

.you {
    margin-top: -18px;
}

.imagemcanto{
    margin-left: 75px;
}

